[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dual-computational-systems = {file = ".", editable = true}
torch = "*"
torchaudio = "*"
torchvision = "*"
pyfonts = "*"
fire = "*"
tqdm = "*"
evaluate = "*"
tensorboard = "*"
scikit-learn = "*"
torchmetrics = "*"
torchcodec = "*"
chcochleagram = {git = "git+https://github.com/jenellefeather/chcochleagram.git"}
datasets = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
